nav {
    background-color: none;
}
nav ul li {
    display: inline-block;
    color:white;
}
.item-menu{
    border: double black;
    border-style: double;
    border-width: 10px;
    border-color:red ;

}
.menu {
    border: solid 2px green;
    background-color:black;
    padding: 10px
}
div {
    border: double red;
    border-style: double;
    border-width: 10px;
    border-color: red;
    border-radius: 25px;
    background-color: red;
    border-radius: 25px;
    background-color: none;
    color: black;
    text-align: center;
    color: black;
}
body {
    background:white;
    background-image: url(/tmp/guest-mth21y/Downloads/ElizeuWinters-main/curso/b387f6cba0ac9af7b4eba22d2f84860c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:white;
}
