*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: #00aaff;
}
form{
    background-color: lightcoral;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
form title{
    text-align: left;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}
form input[type=text],
form input[type=password]{
  width: 100%;
  height: 45px;
  border: 1px solid#ccc;
  padding-left: 10px;
  margin: 10px 0;
 
}

form input[type=submit]:hover{
    background-color: #4A5F6A;
}
form input[type=text]:focus{
    outline: 0;
}
form input[type=password]:focus{
    outline: 0;
}